<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'sneakers_css/products.css'%}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <button class ="step_back" onclick="window.location.href='{% url 'ru_search' %}';"><i class="fa-regular fa-circle-left fa-10x"></i></button>
  <button class ="home" onclick="window.location.href='{% url 'index' %}';"><i class="fa-solid fa-house fa-10x"></i></button>
</head>
<body>
    {% for category, products in products_by_category.items %}
        {% if products %}
            <h1 class="header">{{ category }}</h1>
            <ul class="container">
                {% for product in products %}
                    <li class="product-card" style="margin-left: 0;">
                        <div class="product-image">
                            <img src="{% static 'images/' %}{{ product.image.url }}" alt="Product Image" style="width: 600px; height: 600px"/>
                        </div>
                        <div class="imdiz-product__av">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            <span>В наличии</span>
                        </div>
                        <div class="product-details">
                            <h2 class="product-title">{{ product.name }}</h2>
                            <h4 class="product-price">{{ product.price }} руб</h4>
                            <a href="{% url 'product_detail' product.pk %}"><button class="view-btn">Подробнее</button></a>
                        </div>
                    </li>
                {% endfor %}
        {% endif %}
        </ul>
    {% endfor %}
</body>
</html>
