<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sneakers_css/homestyle.css'%}">
  <style>
    body {
        background-image: url("{% static 'images/Pic/main.png' %}");
    }
  #container
  {   
    top:0;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body>
  <br>
  <br>
    <div class="app">
        <div class="gg">
            <div id="container">
                <a href="{% url 'en_new' %}"><button class="main-left"></button></a>
                <a href="{% url 'en_offers' %}"><button class="main-left"></button></a>
                <a href="{% url 'en_search' %}"><button class="main-right"></button></a>
                <a href="{% url 'en_test' %}"><button class="main-right"></button></a>
                <a href="{% url 'index' %}"><button class="language-ru"></button></a>
                <button class="language-eng"></button>
            </div>
        </div>
    </div>
</body>
</html>