<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <style>
  #container
  {   
    top:0px;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body background="Pic/search.png">
    <div class ="app">
        <div id="container">
            <button class ="year" onclick="window.location.href='1yearproducts.html';"></button>
            <button class ="colour" onclick="window.location.href='4colour.html';" ></button>
            <button class ="model" onclick="window.location.href='2modelproducts.html';" ></button>
            <button class ="men" onclick="window.location.href='5menproducts.html';"></button>
            <button class ="type" onclick="window.location.href='3typeproducts.html';"></button>
            <button class ="woman" onclick="window.location.href='6womanproducts.html';" ></button>
            <button class ="advancedsearch" ></button>
            <button class ="mainsearch" onclick="window.location.href='enmain.html';"></button> 
        </div>
    </div>
</body>
</html>