<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sneakers_css/homestyle.css'%}">
  <style>
    body {
        background-image: url("{% static 'images/Pic/test.png' %}");
        background-repeat: no-repeat;
    }
  #container
  {   
    top:0;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body>
    <div class ="app">
        <div id="container">
            <button class ="season" ></button>
            <button class ="colourtest" ></button>
            <button class ="appiontment" ></button>
            <button class ="maintest" onclick="window.location.href='{% url 'en_main' %}';"></button>
        </div>
    </div>
</body>
</html>