<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sneakers_css/homestyle.css'%}">
  <style>
  body {
      background-image: url("{% static 'images/Pic/search RU.png' %}");
  }
  #container
  {   
    top:0px;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body>
    <div class ="app">
        <div id="container">
            <button class="year" onclick="window.location.href='{% url 'year_products' %}';"></button>
            <button class="colour" onclick="window.location.href='{% url 'colour_products' %}';"></button>
            <button class="model" onclick="window.location.href='{% url 'model_products' %}';"></button>
            <button class="men" onclick="window.location.href='{% url 'men_products' %}';"></button>
            <button class="type" onclick="window.location.href='{% url 'type_products' %}';"></button>
            <button class="woman" onclick="window.location.href='{% url 'woman_products' %}';"></button>
            <button class="advancedsearch"></button>
            <button class="mainsearch" onclick="window.location.href='{% url 'index' %}';"></button>
        </div>
    </div>
</body>
</html>