<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% load static %}
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'sneakers_css/site.css'%}">
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true"/>
    <style>
        body {
          background-image: url("{% static 'images/Pic/quiz.png' %}");
        }
    </style>
</head>
<body>
    <div class="wrapper">
        {% include 'sneakers_app/quiz3.html' %}
    </div>
</body>
</html>