<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sneakers_css/homestyle.css'%}">
  <style>
  body {
      background-image: url("{% static 'images/Pic/test RU.png' %}");
      background-repeat: no-repeat;
  }
  #container
  {
    top:0;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body>
    <div class="app">
        <div id="container">
            <a href="{% url 'ru_test_season' %}"><button class="season"></button></a>
            <a href="{% url 'ru_test_colour' %}"><button class="colourtest"></button></a>
            <a href="{% url 'ru_test_appointment' %}"><button class="appiontment"></button></a>
            <a href="{% url 'index' %}"><button class="maintest"></button></a>
        </div>
    </div>
</body>
</html>