<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <style>
  #container
  {   
    top:0px;
    padding-top:0;
    margin:auto; 
    position:relative;
    width:1920px;
    height:1200px;
    }
  </style>
</head>
<body background="Pic/test RU.png">
    <div class ="app">
        <div id="container">
            <button class ="season" onclick="window.location.href='rutestseason.html';"></button> 
            <button class ="colourtest" onclick="window.location.href='rutestcolour.html';"></button>
            <button class ="appiontment" onclick="window.location.href='rutestappiontment.html';"></button>
            <button class ="maintest" onclick="window.location.href='rumain.html';"></button> 
        </div>
    </div>
</body>
</html>