<!DOCTYPE html>
  <html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bonus_sales.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <style>
    #container
    {   
      top:0px;
      padding-top:0;
      margin:auto; 
      position:relative;
      width:1920px;
      height:1200px;
      }
    </style>
    <button class ="step_back" onclick="window.location.href='ruoffers.html';"><i class="fa-regular fa-circle-left fa-10x"></i></button>
  </head>
  <body background="Back.png">
    <div class="coupon">
        <div class="container">
          <h3>Апрельские зайчики</h3>
        </div>
        <img src="sales.jpg" alt="Avatar" style="width:100%;">
        <div class="container" style="background-color:white">
          <h2><b>30% при покупке от 15000р</b></h2>
          <p>На новинки не распространяется!!!</p>
        </div>
        <div class="container">
          <p>Промокод: <span class="promo">God</span></p>
          <p class="expire">Окончание: 10 мая 2024г.</p>
        </div>
    </div>
  </body>
  </html>