{% extends 'mysite/base.html'%}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'css/news.css'%}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
{% block content %}
  <section id="intro" class="position-relative mt-4">
    <div class="container-lg" style="max-width: 30%; max-height: 30%;">
        <div class="swiper-container-1">
          <div class="swiper main-swiper">
            <div class="swiper-wrapper">
              {% for last_prod in latest_products %}
                  <div class="swiper-slide">
                    <div class="card d-flex flex-row align-items-end border-0 jarallax-keep-img">
                      <img src="{%static 'images/'%}{{ last_prod.image.url }}" alt="shoes" class="img-fluid jarallax-img">
                    </div>
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>
  <section>
    {% for new in news %}
        <div class="projcard-container {% if not forloop.last %}active{% endif %}">
            <div class="projcard projcard-blue">
                <div class="projcard-innerbox">
                    <img class="projcard-img" src="{% static 'images/' %}{{ new.image.url }}" alt="news-item" />
                    <div class="projcard-textbox">
                        <div class="projcard-title">Новинка</div>
                        <div class="projcard-subtitle">{{ new.name }}</div>
                        <div class="projcard-bar"></div>
                        <div class="projcard-description">{{ new.description }}</div>
                        <div class="projcard-tagbox">
                            <span class="projcard-tag">{{ new.date|date:"d.m.Y" }}</span>
                        </div>
                    </div>
                    <div class="projcard-buttons">
                        {% if not forloop.first %}
                            <button class="prev-news-button">Предыдущая новость</button>
                        {% endif %}
                        {% if not forloop.last %}
                            <button class="next-news-button">Следующая новость</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
  </section>
  <section id="featured-products" class="product-store">
    <div class="container-md">
      <div class="display-header d-flex align-items-center justify-content-between">
        <h2 class="section-title text-uppercase">Featured Products</h2>
      </div>
      <div class="product-content padding-small">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            {% for feat_product in featured_products %}
              <div class="col mb-4">
                <div class="product-card position-relative">
                  <div class="card-img">
                    <img src="{%static 'images/'%}{{ feat_product.image.url }}" alt="product-item" class="product-image img-fluid">
                    <div class="cart-concern position-absolute d-flex justify-content-center">
                      <div class="cart-button d-flex gap-2 justify-content-center align-items-center">
                        <button type="button" class="btn btn-light" data-bs-target="#modaltoggle" onclick="loadFeatProductInfo('{{ feat_product.id }}')">
                          <svg class="quick-view">
                            <use xlink:href="#quick-view"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                    <!-- cart-concern -->
                  </div>
                  <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                    <h3 class="card-title fs-6 fw-normal m-0">
                      <a href="single-product.html">{{ feat_product.name }}</a>
                    </h3>
                    <span class="card-price fw-bold">${{ feat_product.price }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="collection-products" class="py-2 my-2 py-md-5 my-md-5">
    <div class="container-md">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="collection-card card border-0 d-flex flex-row align-items-end jarallax-keep-img">
            <img src="{%static 'images/collection-item1.jpg'%}" alt="product-item" class="border-rounded-10 img-fluid jarallax-img">
            <div class="card-detail p-3 m-3 p-lg-5 m-lg-5">
              <h3 class="card-title display-3">
                <a href="#">Minimal Collection</a>
              </h3>
              <a href="shop.html" class="text-uppercase mt-3 d-inline-block text-hover fw-bold">Shop Now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="collection-card card border-0 d-flex flex-row jarallax-keep-img">
            <img src="{%static 'images/collection-item2.jpg'%}" alt="product-item" class="border-rounded-10 img-fluid jarallax-img">
            <div class="card-detail p-3 m-3 p-lg-5 m-lg-5">
              <h3 class="card-title display-3">
                <a href="#">Sneakers Collection</a>
              </h3>
              <a href="shop.html" class="text-uppercase mt-3 d-inline-block text-hover fw-bold">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="latest-products" class="product-store py-2 my-2 py-md-5 my-md-5 pt-0">
    <div class="container-md">
      <div class="display-header d-flex align-items-center justify-content-between">
        <h2 class="section-title text-uppercase">Latest Products</h2>
      </div>
      <div class="product-content padding-small">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            {% for product in latest_products %}
                <div class="col mb-4 mb-3">
                    <div class="product-card position-relative">
                      <div class="card-img">
                        <img src="{%static 'images/'%}{{ product.image.url }}" alt="product-item" class="product-image img-fluid product-thumbnail">
                        <div class="cart-concern position-absolute d-flex justify-content-center">
                          <div class="cart-button d-flex gap-2 justify-content-center align-items-center">
                            <button type="button" class="btn btn-light" data-bs-target="#modaltoggle" onclick="loadProductInfo('{{ product.id }}')">
                              <svg class="quick-view">
                                <use xlink:href="#quick-view"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                        <h3 class="card-title fs-6 fw-normal m-0">
                          <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                        </h3>
                        <span class="card-price fw-bold">${{ product.price }}</span>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
<script>
    function loadProductInfo(productId) {
        $.ajax({
            url: '/get_quick_info/',
            type: 'GET',
            data: {
                'product_id': productId
            },
            success: function(response) {
                $('.modal-body').html(response);
                $('#modaltoggle').modal('show');
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
    function loadFeatProductInfo(productId) {
        $.ajax({
            url: '/get_feat_quick_info/',
            type: 'GET',
            data: {
                'product_id': productId
            },
            success: function(response) {
                $('.modal-body').html(response);
                $('#modaltoggle').modal('show');
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>
{% endblock %}