{% extends 'mysite/base.html'%}
{% load static %}
{% block content %}
    
      <section class="hero-section position-relative bg-gray padding-medium">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="text-center">
                <h1 class="display-2 text-uppercase text-dark">Shop</h1>
                <div class="breadcrumbs">
                  <span class="item">
                    <a href="{% url 'home' %}">Home ></a>
                  </span>
                  <span class="item">Shop</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <div class="shopify-grid py-2 my-2 py-md-5 my-md-5">
        <div class="container-lg">
          <div class="row">
            <main class="col-lg-10 col-md-6 col-sm-12">
              <div class="filter-shop d-flex justify-content-between">
                <div class="showing-product">
                  <p>Showing {{ products|length }} results</p>
                </div>
                <div class="sort-by pb-3">
                  <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                    <option value="default">Default sorting</option>
                    <option value="name_asc">Name (A - Z)</option>
                    <option value="name_desc">Name (Z - A)</option>
                    <option value="price_asc">Price (Low-High)</option>
                    <option value="price_desc">Price (High-Low)</option>
                  </select>
                </div>
              </div>
              <div class="product-content product-store d-flex justify-content-between flex-wrap">
                  {% for product in products %}
                    <div class="col-lg-4 col-md-12 col-sm-12 mb-4 pe-3">
                        <div class="product-card position-relative">
                            <div class="card-img">
                                <img src="{% static 'images/' %}{{ product.image.url }}" alt="product-item" class="product-image img-fluid">
                                <div class="cart-concern position-absolute d-flex justify-content-center">
                                    <div class="cart-button d-flex gap-2 justify-content-center align-items-center">
                                        <button type="button" class="btn btn-light" data-bs-target="#modaltoggle" data-bs-toggle="modal">
                                            <svg class="quick-view">
                                                <use xlink:href="#quick-view"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-detail d-flex justify-content-between align-items-center mt-3">
                               <h3 class="card-title fs-6 fw-normal m-0">
                                   <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                               </h3>
                                <span class="card-price fw-bold">${{ product.price }}</span>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
              </div>
            </main>
            <aside class="col-lg-2 col-md-6 col-sm-12">
              <div class="sidebar">

                <div class="widget-menu">
                    <div class="widget-search-bar position-relative">
                        <form action="{% url 'shop' %}" method="get" class="d-flex">
                            <input class="search-field rounded-2" placeholder="Search" type="search" name="search">
                            <div class="search-icon position-absolute end-0">
                                <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                    <svg class="search">
                                        <use xlink:href="#search"></use>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="widget-product-categories pt-5">
                    <h5 class="widget-title text-decoration-underline">Categories</h5>
                    <ul class="product-categories sidebar-list list-unstyled text-hover">
                        <li class="cat-item">
                            <a href="#" onclick="addFilter('category', 'all')">All</a>
                        </li>
                        {% for category in categories %}
                            <li class="cat-item">
                                <a href="#" onclick="addFilter('category', '{{ category.name }}')">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget-product-brands pt-3">
                  <h5 class="widget-title text-decoration-underline">Brands</h5>
                  <ul class="product-tags sidebar-list list-unstyled text-hover">
                      <li class="tags-item">
                        <a href="#" onclick="addFilter('brand', 'all')">All</a>
                      </li>
                      {% for brand in brands %}
                          <li class="tags-item">
                              <a href="#" onclick="addFilter('brand', '{{ brand.name }}')">{{ brand.name }}</a>
                          </li>
                      {% endfor %}
                  </ul>
                </div>
                <div class="widget-price-filter pt-3">
                    <h5 class="widget-titlewidget-title text-decoration-underline">Filter By Price</h5>
                    <ul class="product-tags sidebar-list list-unstyled text-hover border-bottom pb-3">
                        <li class="tags-item">
                            <a href="#" onclick="addFilter('price_range', '0')">All</a>
                        </li>
                        <li class="tags-item">
                            <a href="#" onclick="addFilter('price_range', '101-200')">$101 - $200</a>
                        </li>
                        <li class="tags-item">
                            <a href="#" onclick="addFilter('price_range', '201-300')">$201 - $300</a>
                        </li>
                        <li class="tags-item">
                            <a href="#" onclick="addFilter('price_range', '301-400')">$301 - $400</a>
                        </li>
                        <li class="tags-item">
                            <a href="#" onclick="addFilter('price_range', '401-500')">$401 - $500</a>
                        </li>
                    </ul>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
<script>
    document.getElementById('input-sort').addEventListener('change', function() {
        let selectedValue = this.value;
        window.location.href = "{% url 'shop' %}?sort_by=" + selectedValue;
    });
    function addFilter(param, value) {
        let url = window.location.href;
        let params = new URLSearchParams(window.location.search);
        if (params.has(param)) {
            params.delete(param);
        }
        params.append(param, value);
        window.location.href = url.split('?')[0] + '?' + params.toString();
    }
</script>
{% endblock %}
